:root {
    --custom-font: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --sim-option-size-1: 350px;
    --sim-option-size-2: 300px;
    --sim-option-size-3: 250px;
    --sim-option-size-4: 200px;
    --sim-option-size-5: 150px;
    --sim-option-size-6: 120px;
    --sim-img-option-size-1: 300px;
    --sim-img-option-size-2: 257px;
    --sim-img-option-size-3: 214px;
    --sim-img-option-size-4: 171px;
    --sim-img-option-size-5: 129px;
    --sim-img-option-size-6: 103px;
    --hex-white: #ffffff;
    --hex-black: #000000;
    --hex-grey: #555555;
    --hex-dark-grey: #090909;
    --hex-off-white: #cccccc;
    --hex-light-blue: #0099CC;
    --hex-light-orange: #f8b195;
    --hex-dark-navy-blue: #0e131c;
    --rgba-black: rgba(0, 0, 0, 1.0);
    --background-colour: var(--hex-dark-navy-blue);
    --title-colour: var(--hex-white);
    --title-info-colour: var(--hex-off-white);
    --top-bar-buttons-colour: var(--hex-white);
    --top-bar-underline-colour: var(--hex-light-blue);
    --top-bar-buttons-hover-colour: var(--hex-off-white);
    --sim-options-background-colour: var(--hex-black);
    --sim-options-background-hover-colour: var(--hex-dark-grey);
    --sim-option-title-colour: var(--hex-grey)
}