.code-blocks-container {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}


.code-block-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.code-explaination {
    width: 100%;
    font-size: 18px;
    line-height: 1.5;
    font-family: var(--custom-font);
    text-align: center;
    color: var(--hex-white);
}

.code-block {
    width: 100%;
    font-size: 14px;
    overflow-x: auto;
    background-color: #111111;
    box-shadow: 8px 8px 6px rgba(0, 0, 0, 1.0);
}