.menu-button-container {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.side-bar-menu-button {
    cursor: pointer;
    width: 30px;
    height: 20px;
    position: relative;
    background: transparent; 
    border: none;
}

.side-bar-menu-button span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #ffffff; 
    top: 50%;
    margin-top: -2px;
}

.side-bar-menu-button span:before,
.side-bar-menu-button span:after {
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
}

.side-bar-menu-button span:before {
    top: -10px;
}

.side-bar-menu-button span:after {
    bottom: -10px;
}

/* On hover, change the background color slightly */
.side-bar-menu-button:hover {
    top: -1px;
}
