.code-block {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.code-explaination {
    width: 100%;
    line-height: 1.5;
    font-family: var(--custom-font);
    text-align: center;
    color: #ffffff;
}