.top-bar-container {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.top-bar-button {
    text-decoration: none;
    color: var(--hex-white);
    font-size: 20px;
    font-family: var(--custom-font);
    text-shadow: 0px 8px 8px var(rgba-black);
    padding: 14px 25px;
    transition: color 0.3s;
}

.top-bar-button:hover {
    color: var(--hex-off-white);
}

.top-bar-button.active {
    text-decoration: underline;
    text-decoration-color: var(--hex-light-blue);
}