.side-bar-container {
    width: 100%;
    height: 100%;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 20% 70% 5%;
    background-color: #0e131c;/*090c11*//*202A44*/
    box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.smooth-side-bar-transition {
    transition: grid-template-columns 0.3s ease;
  }

.simulation-title {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    cursor: pointer;
    text-shadow: 0px 0px 30px black;
}


.reset-button-container {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    margin-top: -20px;
    left: 50%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.side-bar-reset-button {
    width: 45px;
    height: 45px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #dddddd;
    transition: background-color 0.3s ease;
}

.side-bar-reset-button i {
    font-size: 22px;
    color: #ffffff;
}

.side-bar-reset-button:hover {
    width: 46px;
    height: 46px; 
    background-color: #101010;
}